@model IEnumerable<CasoPractico1.Models.Boleto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ruta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCompra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario.Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehiculo.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ruta.NombreRuta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCompra)
            </td>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.BoletoId"><button class="btn btn-primary btn-sm">Editar</button></a>
                        <a asp-action="Delete" asp-route-id="@item.BoletoId"><button class="btn btn-danger btn-sm">Eliminar</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
